@charset "UTF-8";
/* bodyのデフォルトを定義 */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.8;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", Meiryo, sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-feature-settings: "palt";
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* marginとpaddingを削除 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* pが連続したら段落を空ける */
p + p {
  margin-top: 1em;
}

/* list-styleを削除 */
ul,
ol {
  list-style: none;
}

/* imgとpictureタグの設定 */
img,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* 各ブラウザやOSの設定で動きの制限をしている場合、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* aタグのテキストカラーを親要素から継承と、ホバー時のアニメーション */
a {
  color: inherit;
}
@media screen and (min-width: 768px) {
  a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}
a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 768px) {
  a:hover, a:focus {
    opacity: 0.7;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) {
  a:hover img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "BodoniModa-Regular";
  src: url("../fonts/BodoniModa-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}
.ffbodoni {
  font-family: "BodoniModa-Regular", serif;
}

.ffinter {
  font-family: "Inter-Medium", serif;
}

#wrapper {
  overflow: hidden;
  padding: 50px 0 0;
}

.inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.innerbox {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

@media screen and (min-width: 1025px) {
  #wrapper {
    padding: 110px 0 0;
  }
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  -moz-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  -ms-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  -o-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  z-index: 9;
}

.top #header {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

#header .headerin {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
#header .headerlogo {
  flex-shrink: 0;
  font-size: 0;
  width: 116px;
  margin-right: 10px;
}
#header .headerlogo a {
  display: block;
}
#header .headermess {
  display: flex;
  align-items: center;
}
#header .pushbarbox {
  display: block;
  cursor: pointer;
  flex-shrink: 0;
}
#header .pushbarbox img {
  width: 40px;
}
#header .headerbtn {
  display: none;
}

.topnavi {
  display: none;
}

@media screen and (min-width: 1025px) {
  #header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
  }
  #header .headerin {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  #header .headerlogo {
    width: auto;
  }
  #header .headerbtn {
    display: block;
    margin-right: 20px;
  }
  #header .headerbtn a {
    margin: 0 auto;
    width: 200px;
    height: 48px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background: #8a7e78;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
  }
  #header .headerbtn a img {
    margin-right: 8px;
  }
  #header .pushbarbox {
    display: block;
    cursor: pointer;
  }
  .topnavi > li {
    position: relative;
  }
  .topnavi > li > a {
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 14px;
    letter-spacing: 0.1em;
    position: relative;
  }
  .topnavi > li > a.parents {
    padding-right: 18px;
    background: url(../img/down_gnavi.webp) right center no-repeat;
  }
  .topnavi .pulldownmenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    padding: 20px 25px;
    -webkit-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
    -moz-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
    -ms-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
    -o-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
    box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    z-index: 2;
  }
  .topnavi .pulldownmenu li {
    font-size: 12px;
    line-height: 2.5;
    letter-spacing: 0.1em;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1300px) {
  .topnavi {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1400px) {
  #header .headerin {
    padding: 0 50px;
  }
  .topnavi {
    column-gap: 25px;
    margin-right: 50px;
  }
  #header .headerbtn {
    margin-right: 35px;
  }
}
.teaser {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.teaser .teaserimg {
  width: 80%;
}
.teaser .teaserimg img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.teaser .teaserbox {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 20px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  z-index: 1;
}
.teaser .teaserin {
  background: #fff;
  padding: 15px 10px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.teaser .teasereng {
  font-size: 14px;
}
.teaser .teaserjps {
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.3em;
  font-weight: 500;
  color: #000;
}

@media screen and (min-width: 740px) {
  .teaser .teaserimg img {
    height: 400px;
  }
  .teaser .teaserbox {
    padding: 0 7.15%;
  }
  .teaser .teaserin {
    background: #fff;
    min-width: 370px;
    padding: 25px 20px 10px 0;
  }
  .teaser .teasereng {
    font-size: 16px;
  }
  .teaser .teaserjps {
    font-size: 30px;
    letter-spacing: 0.3em;
  }
}
.breadcrumbs {
  padding: 10px 20px 48px;
}
.breadcrumbs .breadin {
  font-size: 12px;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 740px) {
  .breadcrumbs {
    padding: 25px 7.15% 99px;
  }
}
@media (min-width: 768px) {
  .breadcrumbs {
    padding: 25px 7.15% 198px;
  }
}
section.renovation div.catch {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.renovation div.catch span.english {
  letter-spacing: 0.05px;
  line-height: 28px;
}
@media (min-width: 768px) {
  section.renovation div.catch span.english {
    line-height: 56px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.catch span.english {
    font-size: 15px;
  }
}
section.renovation div.catch div.message {
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 2.3px;
  line-height: 36px;
  border-bottom: 1px solid #733b00;
  display: inline-block;
  text-align: left;
  margin-top: 8px;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
  section.renovation div.catch div.message {
    font-size: 28px;
    line-height: 56px;
    letter-spacing: 2.8px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.catch div.message {
    font-size: 25px;
    line-height: 46px;
  }
}
section.renovation div.catch div.message br {
  display: none;
}
@media (min-width: 768px) {
  section.renovation div.catch div.message br {
    display: block;
  }
}
section.renovation div.catch div.message span.number {
  font-size: 29px;
  line-height: 56px;
  line-height: 28px;
  letter-spacing: 2.45px;
}
section.renovation div.catch div.subcatch {
  font-size: 14px;
  line-height: 30px;
  line-height: 25px;
  letter-spacing: 0.14px;
  margin-top: 28px;
}
@media (min-width: 768px) {
  section.renovation div.catch div.subcatch {
    margin-top: 57px;
  }
}
section.renovation div.data {
  background-color: #eee2dc;
  margin-top: 59px;
  padding-top: 43px;
  padding-bottom: 67px;
}
@media (min-width: 768px) {
  section.renovation div.data {
    margin-top: 118px;
    padding-top: 87px;
    padding-bottom: 156px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.data {
    margin-top: 90px;
  }
}
@media (min-width: 768px) {
  section.renovation div.data div.container {
    width: 1000px;
  }
}
@media (min-width: 768px) {
  section.renovation div.data div.container div.lists div.item {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.data div.container div.lists div.item {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  section.renovation div.data div.container div.lists div.item div.image {
    width: 60%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.data div.container div.lists div.item div.image {
    width: initial;
  }
}
section.renovation div.data div.container div.lists div.item div.image img.img {
  width: 100%;
}
@media (min-width: 768px) {
  section.renovation div.data div.container div.lists div.item div.text {
    flex: 1;
    position: absolute;
    content: "";
    bottom: -32px;
    max-width: 480px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.data div.container div.lists div.item div.text {
    position: relative;
    bottom: unset;
    max-width: initial;
  }
}
section.renovation div.data div.container div.lists div.item div.text dl.box {
  background-color: #fff;
  box-shadow: 0px 8px 10px 0px rgba(172, 172, 172, 0.3);
  padding: 24px 16px;
}
@media (min-width: 768px) {
  section.renovation div.data div.container div.lists div.item div.text dl.box {
    padding: 67px 48px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.data div.container div.lists div.item div.text dl.box {
    padding: 32px;
  }
}
section.renovation div.data div.container div.lists div.item div.text dl.box dt {
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 6.9px;
  color: #393939;
}
@media (min-width: 768px) {
  section.renovation div.data div.container div.lists div.item div.text dl.box dt {
    font-size: 28px;
    line-height: 56px;
    letter-spacing: 8.4px;
  }
}
section.renovation div.data div.container div.lists div.item div.text dl.box dd {
  line-height: 30px;
  line-height: 25px;
  margin-top: 16px;
}
section.renovation div.data div.container div.lists div.item div.text dl.box dd div.links {
  margin-top: 16px;
}
@media (min-width: 768px) {
  section.renovation div.data div.container div.lists div.item div.text dl.box dd div.links {
    margin-top: 52px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.data div.container div.lists div.item div.text dl.box dd div.links {
    margin-top: 32px;
  }
}
section.renovation div.data div.container div.lists div.item div.text dl.box dd div.links a {
  font-size: 12px;
  line-height: 56px;
  line-height: 28px;
  letter-spacing: 0;
  color: #393939;
  border: 1px solid #393939;
  border-radius: 50px;
  padding: 10px 32px;
}
@media (min-width: 768px) {
  section.renovation div.data div.container div.lists div.item div.text dl.box dd div.links a {
    width: 60%;
    display: block;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.data div.container div.lists div.item div.text dl.box dd div.links a {
    width: 50%;
  }
}
section.renovation div.data div.container div.lists div.item + .item {
  margin-top: 66px;
}
@media (min-width: 768px) {
  section.renovation div.data div.container div.lists div.item + .item {
    margin-top: 144px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.data div.container div.lists div.item + .item {
    margin-top: 105px;
  }
}
@media (min-width: 768px) {
  section.renovation div.data div.container div.lists div.item:nth-child(odd) div.text {
    right: 0;
  }
}
@media (min-width: 768px) {
  section.renovation div.data div.container div.lists div.item:nth-child(even) {
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) {
  section.renovation div.data div.container div.lists div.item:nth-child(even) div.text {
    left: 0;
  }
}
section.renovation div.reform {
  margin-top: 72px;
}
@media (min-width: 768px) {
  section.renovation div.reform {
    margin-top: 225px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.reform {
    margin-top: 144px;
  }
}
section.renovation div.reform div.title {
  text-align: center;
}
section.renovation div.reform div.title hgroup span.english {
  line-height: 28px;
  letter-spacing: 0.7px;
}
@media (min-width: 768px) {
  section.renovation div.reform div.title hgroup span.english {
    line-height: 56px;
    letter-spacing: 0.8px;
  }
}
section.renovation div.reform div.title hgroup h2 {
  font-size: 23px;
  color: #393939;
  text-decoration: underline;
  text-underline-offset: 6px;
}
@media (min-width: 768px) {
  section.renovation div.reform div.title hgroup h2 {
    font-size: 28px;
    letter-spacing: 0.56px;
  }
}
section.renovation div.reform div.flow {
  margin-top: 59px;
}
@media (min-width: 768px) {
  section.renovation div.reform div.flow {
    margin-top: 170px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.reform div.flow {
    margin-top: 120px;
  }
}
section.renovation div.reform div.flow div.item {
  position: relative;
}
section.renovation div.reform div.flow div.item img.reform_bg {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -20px;
}
@media (min-width: 768px) {
  section.renovation div.reform div.flow div.item img.reform_bg {
    top: -24px;
  }
}
section.renovation div.reform div.flow div.item div.text {
  background-color: #eee2dc;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 26px 16px;
}
@media (min-width: 768px) {
  section.renovation div.reform div.flow div.item div.text {
    width: 94%;
    padding: 53px 40px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.reform div.flow div.item div.text {
    padding: 32px;
  }
}
section.renovation div.reform div.flow div.item div.text h3 {
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 6.9px;
  color: #393939;
}
@media (min-width: 768px) {
  section.renovation div.reform div.flow div.item div.text h3 {
    font-size: 28px;
    line-height: 56px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.reform div.flow div.item div.text h3 {
    font-size: 26px;
  }
}
section.renovation div.reform div.flow div.item div.text div.comment {
  margin-top: 18px;
}
section.renovation div.reform div.flow div.item div.text div.number {
  font-size: 29px;
  line-height: 56px;
  line-height: 28px;
  letter-spacing: 1.45px;
  color: #393939;
  position: absolute;
  content: "";
  right: 8px;
  bottom: -16px;
}
@media (min-width: 768px) {
  section.renovation div.reform div.flow div.item div.text div.number {
    font-size: 58px;
    right: 16px;
  }
}
section.renovation div.reform div.flow div.item + .item {
  margin-top: 50px;
}
@media (min-width: 768px) {
  section.renovation div.reform div.flow div.item + .item {
    margin-top: 136px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.reform div.flow div.item + .item {
    margin-top: 100px;
  }
}
@media (min-width: 768px) {
  section.renovation div.reform.container {
    width: 760px;
  }
}
section.renovation div.pagelinks {
  margin-top: 105px;
}
@media (min-width: 768px) {
  section.renovation div.pagelinks {
    margin-top: 210px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.pagelinks {
    margin-top: 160px;
  }
}
@media (min-width: 768px) {
  section.renovation div.pagelinks div.column {
    display: flex;
    gap: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.pagelinks div.column {
    gap: 25px;
  }
}
@media (min-width: 768px) {
  section.renovation div.pagelinks div.column div.item {
    flex: 1;
  }
}
section.renovation div.pagelinks div.column div.item a {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 5.4px;
  width: 100%;
  display: block;
  border-radius: 10px;
  padding: 24px 18px;
}
@media (min-width: 768px) {
  section.renovation div.pagelinks div.column div.item a {
    font-size: 20px;
    line-height: 36px;
    padding: 32px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.pagelinks div.column div.item a {
    padding: 24px;
  }
}
section.renovation div.pagelinks div.column div.item:first-child a {
  background-image: url("../img/reform_case_link_bg.webp");
  background-size: cover;
  background-position: center;
  color: #393939;
}
section.renovation div.pagelinks div.column div.item:last-child {
  margin-top: 25px;
}
@media (min-width: 768px) {
  section.renovation div.pagelinks div.column div.item:last-child {
    margin-top: initial;
  }
}
section.renovation div.pagelinks div.column div.item:last-child a {
  background-color: #8a7e78;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
@media (min-width: 768px) {
  section.renovation div.pagelinks div.column div.item:last-child a {
    gap: 34px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.renovation div.pagelinks div.column div.item:last-child a {
    gap: 17px;
  }
}
@media (min-width: 768px) {
  section.renovation div.pagelinks.container {
    width: 920px;
  }
}

div.conference {
  margin-top: 115px;
}
@media (min-width: 768px) {
  div.conference {
    margin-top: 230px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.conference {
    margin-top: 160px;
  }
}

.conference {
  margin-bottom: 6px;
  background-color: #8c7c74;
}
.conference .wrap {
  padding-top: 40px;
  padding-bottom: 50px;
  position: relative;
}
@media (min-width: 768px) {
  .conference .wrap {
    padding-top: 88px;
    padding-bottom: 80px;
  }
}
.conference .wrap .big_text {
  color: #978982;
  font-size: 74px;
  font-weight: bold;
  transform: rotate(90deg);
  position: absolute;
  top: 68px;
  left: -68px;
}
@media (min-width: 768px) {
  .conference .wrap .big_text {
    font-size: 154px;
    top: 160px;
    left: -180px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .conference .wrap .big_text {
    font-size: 140px;
    left: -170px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .conference .wrap .big_text {
    font-size: 124px;
    top: 110px;
    left: -152px;
  }
}
.conference .wrap .detail_wrap dl {
  text-align: center;
  color: white;
}
.conference .wrap .detail_wrap dl dt {
  font-size: 24px;
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap dl dt {
    font-size: 38px;
  }
}
.conference .wrap .detail_wrap dl dd {
  background-color: #47150f;
  display: inline-block;
  margin-top: 6px;
  padding: 2px 8px;
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap dl dd {
    font-size: 22px;
  }
}
.conference .wrap .detail_wrap ul {
  border: 1px #fff solid;
  width: 220px;
  margin: 30px auto 0;
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap ul {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 920px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .conference .wrap .detail_wrap ul {
    width: 760px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .conference .wrap .detail_wrap ul {
    width: 550px;
  }
}
.conference .wrap .detail_wrap ul li {
  background-color: #7f716b;
  color: white;
  text-align: center;
  padding: 14px;
  border-bottom: 1px #fff solid;
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap ul li {
    width: 33.33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .conference .wrap .detail_wrap ul li {
    width: 50%;
  }
}
.conference .wrap .detail_wrap ul .even {
  background-color: #8c7c74;
}
@media (min-width: 768px) and (max-width: 991px) {
  .conference .wrap .detail_wrap ul .tablet_01 {
    background-color: #7f716b;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .conference .wrap .detail_wrap ul .tablet_02 {
    background-color: #8c7c74;
  }
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap ul .wrap_01 {
    border-right: 1px #fff solid;
  }
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap ul .wrap_02 {
    border-right: 1px #fff solid;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .conference .wrap .detail_wrap ul .wrap_02 {
    border-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .conference .wrap .detail_wrap ul .wrap_03 {
    border-right: 1px #fff solid;
  }
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap ul .wrap_04 {
    border-bottom: 0;
    border-right: 1px #fff solid;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .conference .wrap .detail_wrap ul .wrap_04 {
    border-bottom: 1px #fff solid;
    border-right: 0;
  }
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap ul .wrap_05 {
    border-bottom: 0;
    border-right: 1px #fff solid;
  }
}
.conference .wrap .detail_wrap ul .wrap_06 {
  border-bottom: 0;
}
.conference .wrap .detail_wrap .text {
  padding-top: 10px;
  color: #fff;
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap .text {
    padding-top: 26px;
    text-align: center;
  }
}
.conference .wrap .detail_wrap .conference_link {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap .conference_link {
    padding-top: 54px;
    display: flex;
    margin: 0 auto;
    width: 796px;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .conference .wrap .detail_wrap .conference_link {
    width: 690px;
  }
}
.conference .wrap .detail_wrap .conference_link .link {
  background-color: #fff;
  box-shadow: 5.446px 8.387px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap .conference_link .link {
    width: 368px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .conference .wrap .detail_wrap .conference_link .link {
    width: 47%;
  }
}
.conference .wrap .detail_wrap .conference_link .link a {
  border-radius: 50px;
  display: block;
  padding: 50px 10px 10px;
  position: relative;
}
.conference .wrap .detail_wrap .conference_link .link a img {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.conference .wrap .detail_wrap .conference_link .link a p {
  color: #393939;
  text-align: center;
  font-size: 16px;
}
.conference .wrap .detail_wrap .conference_link .link a p span {
  font-size: 14px;
}
.conference .wrap .detail_wrap .conference_link .link + .link {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .conference .wrap .detail_wrap .conference_link .link + .link {
    margin-top: 0px;
  }
}

#footer .footerbtm {
  background: #393939;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer .footerlink {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
#footer .footerlink a {
  font-size: 12px;
  color: #fff;
}
#footer .copyright {
  font-size: 10px;
  color: #fff;
  letter-spacing: 0.1em;
  margin-top: 15px;
}
#footer .footerin {
  background: url(../img/bg_footer.webp) center center no-repeat;
  background-size: cover;
  padding: 70px 0;
}
#footer .footerbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
#footer .footermess {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
#footer .footerlogo {
  font-size: 20px;
  color: #fff;
}
#footer .footertel {
  letter-spacing: 0.1em;
  font-size: 12px;
  margin-top: 20px;
}
#footer .footertel .telnum {
  margin-bottom: 5px;
  display: block;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 700;
}
#footer .footerbtn {
  margin-top: 20px;
}
#footer .footerbtn a {
  display: flex;
  background: #fff;
  width: 200px;
  height: 48px;
  align-items: center;
  justify-content: center;
  color: #393939;
  font-size: 12px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}
#footer .footerbtn a img {
  margin-right: 8px;
}
#footer .footerna {
  width: 100%;
}
#footer .footernavi {
  display: flex;
  flex-direction: column;
}
#footer .footernavi .navibox {
  margin: 10px 0;
}
#footer .footernavi .navibox > li + li {
  margin-top: 10px;
}
#footer .footernavi .navibox > li > a {
  display: inline-block;
  color: #fff;
  letter-spacing: 0.1em;
}
#footer .footernavi .navichild {
  margin: 15px 0 0 10px;
  border-left: 1px #fff solid;
  padding-left: 20px;
}
#footer .footernavi .navichild li + li {
  margin-top: 10px;
}
#footer .footernavi .navichild li a {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.1em;
}
#footer .footeraddr {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
#footer .footeraddr li {
  color: #fff;
  line-height: 1.78;
  letter-spacing: 0.1em;
}
#footer .footeraddr li + li {
  margin-top: 20px;
}

@media screen and (min-width: 740px) {
  #footer .footerbtm {
    padding: 30px 20px;
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .copyright {
    font-size: 11px;
    margin-top: 0;
  }
  #footer .footerin {
    padding: 140px 0;
  }
  #footer .footermess {
    margin-bottom: 50px;
  }
  #footer .footerlogo {
    font-size: 30px;
  }
  #footer .footertel .telnum {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1;
  }
  #footer .footerbtn {
    margin-top: 30px;
  }
  #footer .footernavi {
    flex-direction: row;
  }
  #footer .footernavi .navibox {
    margin: 0;
    width: 50%;
  }
  #footer .footernavi .navichild {
    margin: 25px 0 0 14px;
  }
  #footer .footernavi .navichild li + li {
    margin-top: 10px;
  }
  #footer .footeraddr {
    flex-direction: row;
    margin-top: 65px;
  }
  #footer .footeraddr li {
    width: 50%;
  }
  #footer .footeraddr li + li {
    margin-top: 0;
  }
}
@media screen and (min-width: 1025px) {
  #footer .footerbtm {
    padding: 30px 70px 30px 50px;
  }
  #footer .footerbox {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #footer .footermess {
    align-items: flex-start;
    width: 40%;
    flex-shrink: 0;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */