/* bodyのデフォルトを定義 */
body {
  text-rendering: optimizeSpeed; //webフォントレンダリングの際に速さを重視する
  line-height: 1.8;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",Meiryo,sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-feature-settings: "palt";
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

/* marginとpaddingを削除 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* pが連続したら段落を空ける */
p+p {
  margin-top: 1em;
}

/* list-styleを削除 */
ul,
ol {
  list-style: none;
}

/* imgとpictureタグの設定 */
img,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* 各ブラウザやOSの設定で動きの制限をしている場合、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* aタグのテキストカラーを親要素から継承と、ホバー時のアニメーション */
a {
  color: inherit;
  @media screen and (min-width: 768px) {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
    @media screen and (min-width: 768px) {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &:hover img {
    @media screen and (min-width: 768px) {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "BodoniModa-Regular";
  src: url('../fonts/BodoniModa-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium";
  src: url('../fonts/Inter-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

.ffbodoni {
  font-family: "BodoniModa-Regular", serif;
}

.ffinter {
  font-family: "Inter-Medium", serif;
}

#wrapper {
  overflow: hidden;
  padding: 50px 0 0;
}

.inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.innerbox {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

@media screen and (min-width: 1025px) {
  #wrapper {
    padding: 110px 0 0;
  }
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  -moz-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  -ms-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  -o-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  z-index: 9;
}

.top #header {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

#header {
  .headerin {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .headerlogo {
    flex-shrink: 0;
    font-size: 0;
    width: 116px;
    margin-right: 10px;

    a {
      display: block;
    }
  }

  .headermess {
    display: flex;
    align-items: center;
  }

  .pushbarbox {
    display: block;
    cursor: pointer;
    flex-shrink: 0;

    img {
      width: 40px;
    }

    .menuopen {}
  }

  .headerbtn {
    display: none;
  }
}

.topnavi {
  display: none;
}

@media screen and (min-width: 1025px) {
  #header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 9;

    .headerin {
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
    }

    .headerlogo {
      width: auto;
    }

    .headerbtn {
      display: block;
      margin-right: 20px;

      a {
        margin: 0 auto;
        width: 200px;
        height: 48px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        background: #8a7e78;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        border-radius: 40px;

        img {
          margin-right: 8px;
        }
      }
    }

    .pushbarbox {
      display: block;
      cursor: pointer;
    }
  }

  .topnavi {
    > li {
      position: relative;

      > a {
        display: flex;
        align-items: center;
        height: 48px;
        font-size: 14px;
        letter-spacing: 0.1em;
        position: relative;

        &.parents {
          padding-right: 18px;
          background: url(../img/down_gnavi.webp) right center no-repeat;
        }
      }
    }

    .pulldownmenu {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      background: #fff;
      padding: 20px 25px;
      -webkit-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
      -moz-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
      -ms-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
      -o-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
      box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      z-index: 2;

      li {
        font-size: 12px;
        line-height: 2.5;
        letter-spacing: 0.1em;
        white-space: nowrap;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .topnavi {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1400px) {
  #header .headerin {
    padding: 0 50px;
  }

  .topnavi {
    column-gap: 25px;
    margin-right: 50px;
  }

  #header .headerbtn {
    margin-right: 35px;
  }
}

.teaser {
  display: flex;
  justify-content: flex-end;
  position: relative;

  .teaserimg {
    width: 80%;

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  .teaserbox {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 20px;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
  }

  .teaserin {
    background: #fff;
    padding: 15px 10px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .teasereng {
    font-size: 14px;
  }

  .teaserjps {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.3em;
    font-weight: 500;
    color: #000;
  }
}

@media screen and (min-width: 740px) {
  .teaser {
    .teaserimg img {
      height: 400px;
    }

    .teaserbox {
      padding: 0 7.15%;
    }

    .teaserin {
      background: #fff;
      min-width: 370px;
      padding: 25px 20px 10px 0;
    }

    .teasereng {
      font-size: 16px;
    }

    .teaserjps {
      font-size: 30px;
      letter-spacing: 0.3em;
    }
  }
}

.breadcrumbs {
  padding: 10px 20px 48px;

  .breadin {
    font-size: 12px;
    letter-spacing: 0.1em;
  }
}

@media screen and (min-width: 740px) {
  .breadcrumbs {
    padding: 25px 7.15% 99px;
  }
}

@media (min-width: 768px) {
  .breadcrumbs {
    padding: 25px 7.15% 198px;
  }
}

section.renovation {
  div.catch {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    span.english {
      letter-spacing: 0.05px;
      line-height: 28px;
      @media (min-width: 768px) {
        line-height: 56px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 15px;
      }
    }
    div.message {
      font-size: 23px;
      font-weight: 500;
      letter-spacing: 2.3px;
      line-height: 36px;
      border-bottom: 1px solid #733b00;
      display: inline-block;
      text-align: left;
      margin-top: 8px;
      padding-bottom: 8px;
      @media (min-width: 768px) {
        font-size: 28px;
        line-height: 56px;
        letter-spacing: 2.8px;
        text-align: center;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 25px;
        line-height: 46px;
      }
      br {
        display: none;
        @media (min-width: 768px) {
          display: block;
        }
      }
      span.number {
        font-size: 29px;
        line-height: 56px;
        line-height: 28px;
        letter-spacing: 2.45px;
      }
    }
    div.subcatch {
      font-size: 14px;
      line-height: 30px;
      line-height: 25px;
      letter-spacing: 0.14px;
      margin-top: 28px;
      @media (min-width: 768px) {
        margin-top: 57px;
      }
      br {}
    }
    &.container {}
  }
  div.data {
    background-color: #eee2dc;
    margin-top: 59px;
    padding-top: 43px;
    padding-bottom: 67px;
    @media (min-width: 768px) {
      margin-top: 118px;
      padding-top: 87px;
      padding-bottom: 156px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      margin-top: 90px;
    }
    div.container {
      @media (min-width: 768px) {
        width: 1000px;
      }
      div.lists {
        div.item {
          @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            position: relative;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            display: block;
            width: 90%;
            margin: 0 auto;
          }
          div.image {
            @media (min-width: 768px) {
              width: 60%;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
              width: initial;
            }
            img.img {
              width: 100%;
            }
          }
          div.text {
            @media (min-width: 768px) {
              flex: 1;
              position: absolute;
              content: "";
              bottom: -32px;
              max-width: 480px;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
              position: relative;
              bottom: unset;
              max-width: initial;
            }
            dl.box {
              background-color: #fff;
              box-shadow: 0px 8px 10px 0px rgba(172, 172, 172, .3);
              padding: 24px 16px;
              @media (min-width: 768px) {
                padding: 67px 48px;
              }
              @media (min-width: 768px) and (max-width: 991.98px) {
                padding: 32px;
              }
              dt {
                font-size: 23px;
                line-height: 28px;
                letter-spacing: 6.9px;
                color: #393939;
                @media (min-width: 768px) {
                  font-size: 28px;
                  line-height: 56px;
                  letter-spacing: 8.4px;
                }
              }
              dd {
                line-height: 30px;
                line-height: 25px;
                margin-top: 16px;
                div.links {
                  margin-top: 16px;
                  @media (min-width: 768px) {
                    margin-top: 52px;
                  }
                  @media (min-width: 768px) and (max-width: 991.98px) {
                    margin-top: 32px;
                  }
                  a {
                    font-size: 12px;
                    line-height: 56px;
                    line-height: 28px;
                    letter-spacing: 0;
                    color: #393939;
                    border: 1px solid #393939;
                    border-radius: 50px;
                    padding: 10px 32px;
                    @media (min-width: 768px) {
                      width: 60%;
                      display: block;
                      text-align: center;
                    }
                    @media (min-width: 768px) and (max-width: 991.98px) {
                      width: 50%;
                    }
                  }
                }
              }
            }
          }
          &+.item {
            margin-top: 66px;
            @media (min-width: 768px) {
              margin-top: 144px;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
              margin-top: 105px;
            }
          }
          &:nth-child(odd) {
            div.text {
              @media (min-width: 768px) {
                right: 0;
              }
            }
          }
          &:nth-child(even) {
            @media (min-width: 768px) {
              flex-direction: row-reverse;
            }
            div.text {
              @media (min-width: 768px) {
                left: 0;
              }
            }
          }
        }
      }
    }
  }
  div.reform {
    margin-top: 72px;
    @media (min-width: 768px) {
      margin-top: 225px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      margin-top: 144px;
    }
    div.title {
      text-align: center;
      hgroup {
        span.english {
          line-height: 28px;
          letter-spacing: 0.7px;
          @media (min-width: 768px) {
            line-height: 56px;
            letter-spacing: 0.8px;
          }
        }
        h2 {
          font-size: 23px;
          color: #393939;
          text-decoration: underline;
          text-underline-offset: 6px;
          @media (min-width: 768px) {
            font-size: 28px;
            letter-spacing: 0.56px;
          }
        }
      }
    }
    div.flow {
      margin-top: 59px;
      @media (min-width: 768px) {
        margin-top: 170px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        margin-top: 120px;
      }
      div.item {
        position: relative;
        img.reform_bg {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: -20px;
          @media (min-width: 768px) {
            top: -24px;
          }
        }
        div.text {
          background-color: #eee2dc;
          position: relative;
          width: 90%;
          margin: 0 auto;
          padding: 26px 16px;
          @media (min-width: 768px) {
            width: 94%;
            padding: 53px 40px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            padding: 32px;
          }
          h3 {
            font-size: 23px;
            line-height: 28px;
            letter-spacing: 6.9px;
            color: #393939;
            @media (min-width: 768px) {
              font-size: 28px;
              line-height: 56px;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
              font-size: 26px;
            }
          }
          div.comment {
            margin-top: 18px;
          }
          div.number {
            font-size: 29px;
            line-height: 56px;
            line-height: 28px;
            letter-spacing: 1.45px;
            color: #393939;
            position: absolute;
            content: "";
            right: 8px;
            bottom: -16px;
            @media (min-width: 768px) {
              font-size: 58px;
              right: 16px;
            }
          }
        }
        &+.item {
          margin-top: 50px;
          @media (min-width: 768px) {
            margin-top: 136px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            margin-top: 100px;
          }
        }
      }
    }
    &.container {
      @media (min-width: 768px) {
        width: 760px;
      }
    }
  }
  div.pagelinks {
    margin-top: 105px;
    @media (min-width: 768px) {
      margin-top: 210px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      margin-top: 160px;
    }
    div.column {
      @media (min-width: 768px) {
        display: flex;
        gap: 50px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        gap: 25px;
      }
      div.item {
        @media (min-width: 768px) {
          flex: 1;
        }
        a {
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          letter-spacing: 5.4px;
          width: 100%;
          display: block;
          border-radius: 10px;
          padding: 24px 18px;
          @media (min-width: 768px) {
            font-size: 20px;
            line-height: 36px;
            padding: 32px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            padding: 24px;
          }
        }
        &:first-child {
          a {
            background-image: url('img/reform_case_link_bg.webp');
            background-size: cover;
            background-position: center;
            color: #393939;
            br {}
          }
        }
        &:last-child {
          margin-top: 25px;
          @media (min-width: 768px) {
            margin-top: initial;
          }
          a {
            background-color: #8a7e78;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 17px;
            @media (min-width: 768px) {
              gap: 34px;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
              gap: 17px;
            }
            img.mail {}
            br {}
          }
        }
      }
    }
    &.container {
      @media (min-width: 768px) {
        width: 920px;
      }
    }
  }
}
div.conference {
  margin-top: 115px;
  @media (min-width: 768px) {
    margin-top: 230px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 160px;
  }
}

.conference {
  // margin-top: 60px;
  margin-bottom: 6px;
  background-color: #8c7c74;
  @media (min-width: 768px) {
    // margin-top: 200px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    // margin-top: 120px;
  }
  .wrap {
    padding-top: 40px;
    padding-bottom: 50px;
    position: relative;
    @media (min-width: 768px) {
      padding-top: 88px;
      padding-bottom: 80px;
    }
    .big_text {
      color: #978982;
      font-size: 74px;
      font-weight: bold;
      transform:rotate(90deg);
      position: absolute;
      top: 68px;
      left: -68px;
      @media (min-width: 768px) {
        font-size: 154px;
        top: 160px;
        left: -180px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 140px;
        left: -170px;
      }
      @media (min-width: 768px) and (max-width: 991px)  {
        font-size: 124px;
        top: 110px;
        left: -152px;
      }
    }
    .detail_wrap {
      dl {
        text-align: center;
        color: white;
        dt {
          font-size: 24px;
          @media (min-width: 768px) {
            font-size: 38px;
          }
        }
        dd {
          background-color: #47150f;
          display: inline-block;
          margin-top: 6px;
          padding: 2px 8px;
          @media (min-width: 768px) {
            font-size: 22px;
          }
        }
      }
      ul {
        border: 1px #fff solid;
        width: 220px;
        margin: 30px auto 0;
        @media (min-width: 768px) {
          margin-top: 50px;
          display: flex;
          flex-wrap: wrap;
          width: 920px;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          width: 760px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          width: 550px;
        }
        li {
          background-color: #7f716b;
          color: white;
          text-align: center;
          padding: 14px;
          border-bottom: 1px #fff solid;
          @media (min-width: 768px) {
            width: 33.33%
          }
          @media (min-width: 768px) and (max-width: 991px) {
            width: 50%;
          }
        }
        .even {
          background-color: #8c7c74;
        }
        .tablet_01 {
          @media (min-width: 768px) and (max-width: 991px) {    
            background-color: #7f716b;
          }
        }
        .tablet_02 {
          @media (min-width: 768px) and (max-width: 991px) {
            background-color: #8c7c74;
          }
        }
        .wrap_01 {
          @media (min-width: 768px) {
            border-right: 1px #fff solid;
          }
        }
        .wrap_02 {
          @media (min-width: 768px) {
            border-right: 1px #fff solid;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            border-right: 0;
          }
        }
        .wrap_03 {
          @media (min-width: 768px) and (max-width: 991px) {
            border-right: 1px #fff solid;
          }
        }
        .wrap_04 {
          @media (min-width: 768px) {
            border-bottom: 0;
            border-right: 1px #fff solid;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            border-bottom: 1px #fff solid;
            border-right: 0;
          }
        }
        .wrap_05 {
          @media (min-width: 768px) {
            border-bottom: 0;
            border-right: 1px #fff solid;
          }
        }
        .wrap_06 {
          border-bottom: 0;
        }
      }
      .text {
        padding-top: 10px;
        color: #fff;
        @media (min-width: 768px) {
          padding-top: 26px;
          text-align: center;
        }
      }
      .conference_link {
        padding-top: 30px;
        @media (min-width: 768px) {
          padding-top: 54px;
          display: flex;
          margin: 0 auto;
          width: 796px;
          justify-content: space-between;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          width: 690px;
        }
        .link {
          background-color: #fff;
          box-shadow: 5.446px 8.387px 15px 0px rgba(0, 0, 0, 0.1);
          border-radius: 50px;
          @media (min-width: 768px) {
            width: 368px;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            width: 47%;
          }
          a {
            border-radius: 50px;
            display: block;
            padding: 50px 10px 10px;
            position: relative;
            img {
              position: absolute;
              top: 15px;
              right: 0;
              left: 0;
              margin: 0 auto;
            }
            p {
              color: #393939;
              text-align: center;
              font-size: 16px;
              span {
                font-size: 14px;
              }
            }
          }
        }
        .link + .link {
          margin-top: 20px;
          @media (min-width: 768px) {
            margin-top: 0px;
          }
        }
      }
    }
  }
}

#footer {
  .footerbtm {
    background: #393939;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerlink {
    display: flex;
    justify-content: center;
    column-gap: 15px;

    a {
      font-size: 12px;
      color: #fff;
    }
  }

  .copyright {
    font-size: 10px;
    color: #fff;
    letter-spacing: 0.1em;
    margin-top: 15px;
  }

  .footerin {
    background: url(../img/bg_footer.webp) center center no-repeat;
    background-size: cover;
    padding: 70px 0;
  }

  .footerbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
  }

  .footermess {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .footerlogo {
    font-size: 20px;
    color: #fff;
  }

  .footertel {
    letter-spacing: 0.1em;
    font-size: 12px;
    margin-top: 20px;

    .telnum {
      margin-bottom: 5px;
      display: block;
      font-size: 24px;
      text-align: center;
      line-height: 1.2;
      letter-spacing: 0;
      font-weight: 700;
    }
  }

  .footerbtn {
    margin-top: 20px;

    a {
      display: flex;
      background: #fff;
      width: 200px;
      height: 48px;
      align-items: center;
      justify-content: center;
      color: #393939;
      font-size: 12px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      border-radius: 40px;

      img {
        margin-right: 8px;
      }
    }
  }

  .footerna {
    width: 100%;
  }

  .footernavi {
    display: flex;
    flex-direction: column;

    .navibox {
      margin: 10px 0;

      > li {
        + li {
          margin-top: 10px;
        }

        > a {
          display: inline-block;
          color: #fff;
          letter-spacing: 0.1em;
        }
      }
    }

    .navichild {
      margin: 15px 0 0 10px;
      border-left: 1px #fff solid;
      padding-left: 20px;

      li {
        + li {
          margin-top: 10px;
        }

        a {
          font-size: 12px;
          color: #fff;
          letter-spacing: 0.1em;
        }
      }
    }
  }

  .footeraddr {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    li {
      + li {
        margin-top: 20px;
      }

      color: #fff;
      line-height: 1.78;
      letter-spacing: 0.1em;
    }
  }
}

@media screen and (min-width: 740px) {
  #footer {
    .footerbtm {
      padding: 30px 20px;
      flex-direction: row;
      justify-content: space-between;
    }

    .copyright {
      font-size: 11px;
      margin-top: 0;
    }

    .footerin {
      padding: 140px 0;
    }

    .footermess {
      margin-bottom: 50px;
    }

    .footerlogo {
      font-size: 30px;
    }

    .footertel .telnum {
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 1;
    }

    .footerbtn {
      margin-top: 30px;
    }

    .footernavi {
      flex-direction: row;

      .navibox {
        margin: 0;
        width: 50%;
      }

      .navichild {
        margin: 25px 0 0 14px;

        li + li {
          margin-top: 10px;
        }
      }
    }

    .footeraddr {
      flex-direction: row;
      margin-top: 65px;

      li {
        + li {
          margin-top: 0;
        }

        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  #footer {
    .footerbtm {
      padding: 30px 70px 30px 50px;
    }

    .footerbox {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .footermess {
      align-items: flex-start;
      width: 40%;
      flex-shrink: 0;
      margin: 0;
    }
  }
}